@{
    ViewData["Title"] = "Início";
}


<style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #3498db;
            color: #fff;
            text-align: center;
            padding: 20px;
        }

        main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #fff;
        }

        p {
            line-height: 1.6;
        }

        footer {
            text-align: center;
            padding: 10px;
            background-color: #3498db;
            color: #fff;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        section {
            text-align: justify;
        }
</style>

<div class="text-center">
    
    <main>
        <header>
            <h1>Supermercado SMC</h1>
            <p>Estamos animados em ter você aqui, pronto para embarcar em uma jornada mais eficiente e produtiva. Para garantir que você tire o máximo proveito de nossa plataforma, preparamos um tutorial rápido e amigável. Vamos lá!</p>
        </header>
        <br />
        <br />
        <section>
            <h3>Registro de Vendas</h3>
            <p>
                Na página principal, você verá a seção "Vendas". Clique para começar. Preencha os campos necessários com as informações da venda, como produto, valor e cliente. Não se esqueça de salvar! Se surgir alguma dúvida, nosso ícone de chat está lá para ajudar.
            </p>
        </section>

        <section>
            <h3>Criando Seu Relatório Diário</h3>
            <p>
                No menu principal, clique em "Relatórios". Escolha a data desejada e comece a detalhar suas atividades do dia. Quanto mais informações, melhor! Use a opção de comentários para compartilhar insights adicionais ou destacar conquistas notáveis.
            </p>
        </section>

    </main>
    <br />
</div>
